# Kinopoisk API Settings
KINOPOISK_API_KEY=FQ1Y3JB-N9F43BE-PJ92X41-7BW07GB

# Kinopoisk Website Credentials
KINOPOISK_LOGIN=ira_balakovo_@mail.ru
KINOPOISK_PASSWORD=D3kjv0brgblh.

# Browser Settings
BROWSER=chrome
HEADLESS=false
TIMEOUT=15
IMPLICITLY_WAIT=10

# Test Settings
MAX_RETRIES=3
RETRY_DELAY=2